{% extends "auctions/layout.html" %} 
{% block body %}
<div class="container">
  <h2 class="mb-5">Active Listings</h2>
  {% for auction in auctions %}

  <div class="row">
    <div class="offset-md-1 col-md-10">
      <div class="cardC">
        <a href="">
          <div
            class="img"
            style="
              background-image: url('https://i.ebayimg.com/images/g/Vk0AAOSwWz9fJ1Lb/s-l500.jpg');
            "
          ></div>
        </a>
        <div class="text">
          <div class="a-container">
            <a class="tag" href="">{{ auction.category }}</a>
          </div>
          <div class="main-text">
            <a href="" class="title">{{auction.title}}</a>
            <div class="price">
              <strong>Price:</strong> {{ auction.start_bid }} USD
            </div>
            <div class="date text-muted">
              Created: <span>{{ auction.created }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
